.header {
    background-color: #bb86fc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.center-box {
    flex: 1;
    align-items: center;
    display: flex;
    flex-direction: column;
    max-width: 1000;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
}

.app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.center-box > * {
    margin-top: 30px;
}

:root {
    background-color: #121212;
    min-height: 100%;
}
